/* src/App.css */

body {
    margin: 0;
    padding: 0;
    background-image: url('/src/assets/download.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-color: #f0f0f0;
    /* Fallback background color */
}